{
  "rules": {
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-undef": "off",
    "object-shorthand": "warn",
    "prefer-template": "off",
    "no-var": 2,
    "vars-on-top":"off",
    "parser": "babel-eslint",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  }
}